@charset "utf-8";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #ffffff;
    --border-color: rgba(255, 255, 255, 0.5);
    --background-img: url(../assets/meuBgMobileDark.png);
    --background-collor:  rgba(255, 255, 255, 0.1);
    --backdrop-filter: blur(4px);
    --ulliahover-background: rgba(255, 255, 255, 0.05);
    --backgrd-socialLinks-a: rgba(255, 255, 255, 0.2);
    --switch-url-bg: url(../assets/handle-dark.svg);
    --button-position: right: 0;
}

.light{
    --text-color: rgba(0, 0, 0, 0.7);
    --border-color: rgba(0, 0, 0, 0.3);
    --background-img: url(../assets/meuBgMobileLight.png);
    --background-collor: rgba(0, 0, 0, 0.05);
    --backdrop-filter: blur(4px);
    --body-background: url(../assets/meuBgDesktopLight.png) no-repeat;
    --backgrd-socialLinks-a: rgba(0, 0, 0, 0.1);
    --switch-url-bg: url(../assets/handle.svg);
    --button-position: left: 0;
}

body{
    
    /*MODO COMUM

    background-image: url(../assets/Background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*MODO AGRUPADO OU ATALHO*/
    background: var(--body-background);
    background-size: cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 0 44px;
    background: var(--background-img) no-repeat top center/cover;
    height: 100vh;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;    
}

#profile p {
    font-weight: 500;
    line-height: 24px;
}

#switch {
    position: relative;
    width: 64px;
    margin: 0 auto;
}

#switch button {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%; /* PROPRIEDADE USADA PARA ALINHAR O BOTAO NO CENTRO DO TRACKER*/
    width: 32px;
    height: 32px;
    background: #ffffff var(--switch-url-bg) no-repeat center;
    border: 0;
    border-radius: 50%;
    transform: translateY(-50%); /* PROPRIEDADE USADA PARA ALINHAR O BOTAO NO CENTRO DO TRACKER*/
    animation: slide-out 0.4s;
}

.light #switch button {
   /* ESTAVA ASSIM ANTES DA ANIMACAO */
    /* right: 0;
    left: initial; */
    animation: slide-in 0.4s forwards; /* PARAMETRO USADO PARA ANIMACAO @keyframes */
}

#switch button:hover{
    outline: 7px solid var(--backgrd-socialLinks-a);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--background-collor);
    border: 1px solid var(--border-color);
    border-radius: 9999px;
    -webkit-backdrop-filter: var(--backdrop-filter);
}

ul {
    list-style: none;
    display: flex; /*DEIXAR TODO O ALINHAMENTO DOS ITENS FLEXIVEL*/
    flex-direction: column; /* DEIXAR TUDO EM UL ALINHADO EM COLUNA*/
    gap: 8px; /*DEIXAR AS LINHAS QUE ESTÃO EM UL COM ESPAÇAMENTO DE 8PX, UMA DA OUTRA*/
    padding: 24px 0;
}

ul li a {
    text-decoration: none;
    font-weight: 500;
    border: 1px solid; 
    border-color: var(--border-color);
    border-radius: 8px;
    display: flex; 
    justify-content: center; /*ALINHAR NA HORIZONTAL*/
    align-items: center; /*ALINHAR NA VERTICAL*/
    padding: 16px 24px; /* -> 16PX TOP E BOTTON -> 24PX DIREITA E ESQUERDA*/
    background-color: var(--background-collor);
    -webkit-backdrop-filter: var(--backdrop-filter); /* -WEBKIT- = PARA TORNAR COMPATIVEL COM TODOS OS NAVEGADORES 
    -> BACKDROP-FILTER = EFEITO A SER APLICADO NO BACKGROUND DO BOTÃO -> BLUR = EFEITO DE EMBAÇAR*/
    transition: background 0.5s;
}

ul li a:hover {
    background-color: var(--ulliahover-background);
    border: 1.5px solid; 
    border-color: var(--text-color);
}

#social_links{
    display: flex;
    justify-content: center;
    
    padding: 15px 0;
    font-size: 30px;   
}

#social_links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#social_links a:hover {
    background: var(--backgrd-socialLinks-a);
    
    border-radius: 50%;
}

footer {
    font-size: 14px;
    text-align: center;
    padding: 24px 0;
}

footer a {
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    color: var(--border-color);
}

/* MEDIA QUERIES */

@media(min-width: 700px){
    :root {
        #container{
        background: url(../assets/meuBgDesktopDark.png); 
        border-top-right-radius: 10%;
        height: 105vh;
        }

        --body-background: url(../assets/bg-desktop.jpg);

        }
   

    .light {
        #container {
        background: url(../assets/meuBgDesktopLight.png);
        border-top-right-radius: 10%;
        height: 105vh;
        }
        
        --body-background: url(../assets/meuBgDesktopLight.png);
        
    }

}

/* ANIMATION */

@keyframes slide-in {
    from {
        left: 0;
    }
    
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}