@charset "utf-8";

@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    /*MODO COMUM

    background-image: url(../assets/Background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*MODO AGRUPADO OU ATALHO*/

    background: url(../assets/Background.jpg) no-repeat top center/cover;

}

body * {
    font-family: 'Inter', sans-serif;
<<<<<<< HEAD
    color: #fff;
=======
    color: #ffffff;
>>>>>>> origin
}

#container {
    width: 360px;
    margin: auto;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;    
}

#profile p {
    font-weight: 500;
    line-height: 24px;
}

ul {
    list-style: none;
    display: flex; /*DEIXAR TODO O ALINHAMENTO DOS ITENS FLEXIVEL*/
    flex-direction: column; /* DEIXAR TUDO EM UL ALINHADO EM COLUNA*/
    gap: 8px; /*DEIXAR AS LINHAS QUE ESTÃO EM UL COM ESPAÇAMENTO DE 8PX, UMA DA OUTRA*/
    padding: 24px 0;
}

ul li a {
    text-decoration: none;
    font-weight: 500;
<<<<<<< HEAD
    border: 1px solid;
=======
    border: 1px solid; 
>>>>>>> origin
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: flex; 
    justify-content: center; /*ALINHAR NA HORIZONTAL*/
    align-items: center; /*ALINHAR NA VERTICAL*/
    padding: 16px 24px; /* -> 16PX TOP E BOTTON -> 24PX DIREITA E ESQUERDA*/
    background-color: rgba(255, 255, 255, 0.1);
<<<<<<< HEAD
    -webkit-backdrop-filter: blur(4px); /* -WEBKIT- = PARA TORNAR COMPATIVEL COM TODOS OS NAVEGADORES 
=======
    backdrop-filter: blur(4px); /* -WEBKIT- = PARA TORNAR COMPATIVEL COM TODOS OS NAVEGADORES 
>>>>>>> origin
    -> BACKDROP-FILTER = EFEITO A SER APLICADO NO BACKGROUND DO BOTÃO -> BLUR = EFEITO DE EMBAÇAR*/
    transition: background 0.5s;
}

ul li a:hover {
    background-color: rgba(255, 255, 255, 0.05);
<<<<<<< HEAD
    border: 1.5px solid; 
    border-color: #ffffff;
=======
    border: 1.5px solid #ffffff;
>>>>>>> origin
}

#social_links{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px 0;
    font-size: 24px;
}